{% extends "base.html" %}

{% block title %} Home / Fuel {% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid text-light" id="homepage-jumbotron">
      <div class="container">
        <h1 class="display-4">Fuel Prediction System</h1>
        <p class="lead">
        <hr class="my-4">        
        <!-- <button class="btn btn-primary btn-lg" href="#">Request quote &raquo;</button> -->
      </div>
    </div>
    <!-- Text information regarding our app's functionality -->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2>Profile management</h2>
            <p>Keep your client profile up to date using our profile management 
            </p>
             <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-sm">
            <h2>Pricing module</h2>
            <p>Pricing module uses historical industry data to calculate the price of
              fuel based on your location, fuel purchase history, and current commodity prices.</p>
             <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
{% endblock %}